<!--
  Generated template for the CreatePlantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add New Plant</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="create-background">
  <ion-toolbar no-border-top>
    <div>
      <ion-segment mode="md" [(ngModel)]="stageType">
        <ion-segment-button value="add">
          Add
        </ion-segment-button>
        <ion-segment-button value="list" (click)="getPlantsList()">
          List
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
  <ion-card *ngIf="stageType =='add'">

    <img (click)="takePhoto()" src="{{currentImage}}">

    <!-- <ion-fab right top>
      <button ion-fab (click)="takePhoto()">
          <ion-icon name="md-add-circle"></ion-icon>
        </button>
    </ion-fab> -->

  </ion-card>

  <!-- Create -->
  <ion-list *ngIf="stageType =='add'" padding>
    <ion-item>
      <ion-label>Garden</ion-label>
      <ion-select [(ngModel)]="plant.gardenId" placeholder="Select Garden">
        <ion-option *ngFor="let garden of gardens" value="{{garden.$key}}">{{garden.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Order Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="plant.orderDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Plant Origin</ion-label>
      <ion-select [(ngModel)]="plant.plantOrigin">
        <ion-option value="Seed">Seed</ion-option>
        <ion-option value="Clone">Clone</ion-option>
        <ion-option value="Tissue">Tissue</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button full (click)="createPlant()">Add Plant</button>
  </ion-list>

  <!-- Cutting -->
  <ion-list *ngIf="stageType =='list'" padding>
    <ion-item *ngFor="let plant of plants">
      <ion-thumbnail item-start>
        <img src="assets/images/011-leaf.png">
      </ion-thumbnail>
      <h4>{{plant.orderDate | date}}</h4>
      <h3>{{plant.plantOrigin}}</h3>
      <button ion-button clear item-end (click)="showDetail(plant)">View</button>
      <button ion-button clear item-end (click)="cutPlant()">Cut</button>
    </ion-item>
  </ion-list>


</ion-content>
