<!--
  Generated template for the PlantsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="leaf">
    <ion-title>View All Plants</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="plant-background">



  <ion-toolbar no-border-top>
    <div>
      <ion-segment mode="md" [(ngModel)]="stageType" (click)="getPlantsList()">
        <ion-segment-button value="All">
          All
        </ion-segment-button>
        <ion-segment-button value="Cut">
          Cut
        </ion-segment-button>
        <ion-segment-button value="Clone">
          clone
        </ion-segment-button>
        <ion-segment-button value="Vegetation">
          Vegetation
        </ion-segment-button>
        <ion-segment-button value="Flower">
          Flower
        </ion-segment-button>
        <ion-segment-button value="Harvest">
          Harvest
        </ion-segment-button>
        <ion-segment-button value="Dry">
          Dry
        </ion-segment-button>
        <ion-segment-button value="Cure">
          Cure
        </ion-segment-button>
        <ion-segment-button value="Developed">
          Developed
        </ion-segment-button>
        <ion-segment-button value="Destroyed">
          Destroyed
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>

  <ion-list>
    <ion-item-sliding *ngFor="let plant of plants">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/images/011-leaf.png">
        </ion-avatar>
        <h4>{{plant.itemName}}</h4>
        <h3 *ngIf="stageType !== 'Cut'">Batch #: {{plant.batchNo}}</h3>
        <h3>Current Stage: {{plant.stage}}</h3>
        <p>ID: {{plant.plantId}}</p>
        <p>Created: {{plant.createdDate | date}}</p>
      </ion-item>
      <ion-item-options *ngIf="stageType !== 'All'" side="right">
        <!-- Cut -->
        <button ion-button color="secondary" icon-start *ngIf="stageType === 'Cut'" (click)="showPlantDetail_Cut(plant)">
              <ion-icon name="md-cut"></ion-icon>
              Cut
            </button>

        <!-- Clone -->
        <button ion-button color="secondary" icon-start *ngIf="stageType === 'Clone'" (click)="developClone(plant)">
                <ion-icon name="md-color-fill"></ion-icon>
                Develop
              </button>

        <!-- Vegetation -->
        <button ion-button color="secondary" icon-start *ngIf="stageType === 'Vegetation'" (click)="developVegetation(plant)">
            <ion-icon name="ios-leaf"></ion-icon>
            Develop
          </button>

        <!-- Flower -->
        <button ion-button color="secondary" icon-start *ngIf="stageType === 'Flower'" (click)="developFlower(plant)">
            <ion-icon name="md-flower"></ion-icon>
            Develop
          </button>

        <!-- Harvest -->
        <button ion-button color="secondary" icon-start *ngIf="stageType === 'Harvest'" (click)="showPlantDetail_Harvest(plant)">
            <ion-icon name="ios-nuclear"></ion-icon>
            Develop
          </button>

        <!-- Dry -->
        <button ion-button color="secondary" icon-start *ngIf="stageType === 'Dry'" (click)="showPlantDetail_Dry(plant)">
            <ion-icon name="md-umbrella"></ion-icon>
            Develop
          </button>

        <!-- Cure -->
        <button ion-button color="secondary" icon-start *ngIf="stageType === 'Cure'" (click)="showPlantDetail_Cure(plant)">
            <ion-icon name="ios-medkit"></ion-icon>
            Develop
          </button>

        <button ion-button color="danger" icon-start *ngIf="stageType !== 'Developed' && stageType !== 'Destroyed'" (click)="destroy(plant)">
              <ion-icon name="md-remove-circle"></ion-icon>
              Destroy
            </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="primary" icon-start (click)="showPlantDetail(plant)">
              <ion-icon name="md-eye"></ion-icon>
              View
            </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="!plants.length" text-center>
    <p style="color: #E4E4E4">NO PLANTS HAVE BEEN FOUND</p>
  </div>
</ion-content>
