<!--
  Generated template for the PlantsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="leaf">
    <ion-title>View All Plants</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="plant-background">



  <ion-toolbar no-border-top>
    <div>
      <ion-segment mode="md" [(ngModel)]="stageType" (click)="getPlantsList()">
        <ion-segment-button value="All">
          All
        </ion-segment-button>
        <ion-segment-button value="Cut">
          Cut
        </ion-segment-button>
        <ion-segment-button value="Clone">
          clone
        </ion-segment-button>
        <ion-segment-button value="Vegetation">
          Vegetation
        </ion-segment-button>
        <ion-segment-button value="Flower">
          Flower
        </ion-segment-button>
        <ion-segment-button value="Harvest">
          Harvest
        </ion-segment-button>
        <ion-segment-button value="Dry">
          Dry
        </ion-segment-button>
        <ion-segment-button value="Cure">
          Cure
        </ion-segment-button>
        <ion-segment-button value="Developed">
          Developed
        </ion-segment-button>
        <ion-segment-button value="Destroyed">
          Destroyed
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let plant of plants">
      <ion-thumbnail item-start>
        <img src="assets/images/011-leaf.png">
      </ion-thumbnail>
      <h4>{{plant.itemName}}</h4>
      <h3 *ngIf="stageType !== 'Cut'">Batch #: {{plant.batchNo}}</h3>
      <h3 *ngIf="stageType === 'All'">Current Stage: {{plant.stage}}</h3>
      <p>ID: {{plant.plantId}}</p>
      <p>Created: {{plant.createdDate | date}}</p>
      <button *ngIf="stageType === 'All'" ion-button clear item-end (click)="showPlantDetail(plant)">View</button>
      <button *ngIf="stageType === 'Cut'" ion-button clear item-end (click)="showPlantDetail_Cut(plant)">Cut</button>
      <button *ngIf="stageType === 'Clone'" ion-button clear item-end (click)="developClone(plant)">Develop</button>
      <button *ngIf="stageType === 'Vegetation'" ion-button clear item-end (click)="developVegetation(plant)">Develop</button>
      <button *ngIf="stageType === 'Flower'" ion-button clear item-end (click)="developFlower(plant)">Develop</button>
      <button *ngIf="stageType === 'Harvest'" ion-button clear item-end (click)="showPlantDetail_Harvest(plant)">Harvest</button>
      <button *ngIf="stageType === 'Dry'" ion-button clear item-end (click)="showPlantDetail_Dry(plant)">Dry</button>
      <button *ngIf="stageType === 'Cure'" ion-button clear item-end (click)="showPlantDetail_Cure(plant)">Cure</button>
    </ion-item>
  </ion-list>

  <div *ngIf="!plants.length" text-center>
    <p style="color: #E4E4E4">NO PLANTS HAVE BEEN FOUND</p>
  </div>
</ion-content>
